* {
    margin: auto;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    --default-color: #828282;
    --color-text: #000;
    --color-active: #94d9f7;
    --color-active-input: #94d9f7;
    --color-active-input-2: #1a73e8;
    --transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    --width-input: 550px;
}